<div class="container">
  <div class="bg-1 mt-5 p-4">
    <div class="mt-2 ml-2">
      <h3>
        <i class="fas fa-user fa-fw"></i>
        Users
      </h3>
      <p>All users of this application</p>
    </div>
    <div class="mt-4">
      <div class="bg-2 p-4">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">User ID</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">status</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user|%>
            <tr>
              <th scope="row">
                <div class="offset-2">
                <%= user.id %>
                </div>
              </th>
              <td>
                <%= link_to admin_user_path(user.id) do %>
                <%= user.name %>
                <% end %>
              </td>
              <td>
                <%= user.email %>
              </td>
              <td>
                <% if user.is_deleted %>
                  <strong>
                    <p class="text-black-50">
                      invalid
                    </p>
                  </strong>
                <% else %>
                  <strong>
                    <p class="text-success">
                       valid
                    </p>
                  </strong>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
  　   </div>
  　</div>
  </div>
</div>