<% flash.each do |key, value| %>
  <% style = key %>
  <% style = 'success' if style == 'notice' %>
  <% style = 'danger' if style == 'alert' %>
  <p class="alert alert-<%= style %>">
    <%= value %>
  </p>
<% end %>